services:
  backend:
    build: .
    container_name: "backend-ts"
    ports:
      - "3000:3001"
    volumes:
      - .:/app     
      - /app/node_modules
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6380:6380"
